div.main-header .title {
    color: white;
    -webkit-text-stroke: 1px black;
}

div.main-navbar {
    background-color: rgb(77, 67, 114);
}

div.main-navbar > .wrapper > div:hover {
    background-color: rgb(101, 88, 148);
}

div.main-navbar > .wrapper > div,
div.main-navbar > .wrapper > a {
    color: white;
}
div.main-navbar a {
    color: inherit;
}
div.main-navbar a:hover {
    background-color: rgb(132, 115, 196);
}